/*
 * Case Management System (Style Sheet)
 * Login
 * Deepak Shenoy
 * September 2024
 *
 */

h2 {
    font-family: Whitney-Light !important;
}

body, label  {
    font-family: Whitney-Light !important;
    font-size: large;
}

.login-form-field {
    width: 300px;
}

.green-icon {
    color: limegreen;
}
.green-icon svg {
    fill: limegreen;
}

.red-icon {
    color: red;
}
.green-icon svg {
    fill: red;
}