/*
 * Case Management System (Style Sheet)
 * Create Case - Creates a new case
 * Deepak Shenoy
 * September 2024
 *
 */

* {
    font-family: Whitney-Light !important;
}

body, label {
    font-family: Whitney-Light !important;
    font-size: large;
}

table, th, td {
    border:15px solid white;
}

td {
    vertical-align: top;
}

.mat-column-subCaseId {
    max-width: 50px !important;
    min-width: 50px !important;
}

.mat-column-subCaseTitle {
    max-width: 200px !important;
    min-width: 200px !important;
}

.subcase-table-container {
    position: relative;
    min-height: 200px;
    max-height: 200px;
    border: 1px solid #dfdada;
    overflow: auto;
}

.mat-column-subCaseId {
    height: 10px;
}
